<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Reserve Room</h1>
    </div>
  </div>

  <div class="row ">
    <div class="col s12 m6 offset-m6 month">
      <a href="" class="secondary-content" (click)="right(); false">
        <i class="material-icons right">keyboard_arrow_right</i>
      </a>
      <span>{{ month | date:"MMMM" }}</span>
      <a href="" class="secondary-content" (click)="left(); false">
        <i class="material-icons left">keyboard_arrow_left</i>
      </a>
    </div>
  </div>

  <div class="row" *ngFor="let item of items">
    <div class="col s12 m6" >

        <app-room-card [room] = item
        (take)="onTake($event)"
        (decline)="onDecline($event)"
        ></app-room-card>

    </div>
  </div>

</div>
